/** Inter Regular */
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("b64---./fonts/Inter-Regular.woff2---");
}

/** Inter Italic */
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("b64---./fonts/Inter-Italic.woff2---");
}

/** Inter Medium */
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("b64---./fonts/Inter-Medium.woff2---");
}

/** Inter Medium Italic */
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("b64---./fonts/Inter-MediumItalic.woff2---");
}

/** Inter SemiBold */
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("b64---./fonts/Inter-SemiBold.woff2---");
}

/** Inter SemiBold Italic */
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("b64---./fonts/Inter-SemiBoldItalic.woff2---");
}

/** Inter Bold */
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("b64---./fonts/Inter-Bold.woff2---");
}

/** Inter Bold Italic */
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("b64---./fonts/Inter-BoldItalic.woff2---");
}

/** Barlow Bold */
@font-face {
  font-family: "Barlow";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("b64---./fonts/Barlow-Bold.woff2---");
}

/** JetBrains Mono */
@font-face {
  font-family: "JetBrainsMono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("b64---./fonts/JetBrainsMono-Regular.woff2---");
}
