name: "Publish on NPM"
on:
  push:
    tags-ignore:
      - "*.*"
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: "12.x"
          registry-url: "https://registry.npmjs.org"
          scope: "@prisma"
      - name: Install dependencies
        run: npm ci
      - name: Publish to NPM
        run: |
          git config --global user.name "Prismo"
          git config --global user.email "prismabots@gmail.com"
          npm version patch
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          tags: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
